.navbar {
  width: 100vw;
  height: 65px;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0 7em 0em 14em;
  z-index: 15;
  transition: background-color 300ms ease-out;
  background-color: lightsalmon;
  box-shadow: 0 3px 5px -2px gray;
}

// .logo {
//   width: 20em;
// }

.menuItemArea {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .navSimpleItems {
    display: flex;
    align-items: center;

    a {
      color: $clr-dark;
      transition: $transition-light;
      text-decoration: none;

      &:hover {
        color: $theme-color;
      }
    }
  }
}

.navItem {
  padding: 6px 3px;
  margin: 0em 2em;
  cursor: pointer;
  color: $clr-dark;
  transition: $transition-light;
  text-decoration: none;

      &:hover {
        color: $theme-color;
      }
}

.activeLink {
  color: $theme-color;
}

.ham {
  font-size: 30px;
  color: $theme-color;
  display: none;
}

@media only screen and (max-width: 880px) {
  .menuItemArea {
    display: none;
  }

  .nav-btns {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }

  .login-btn {
    display: none;
  }

  .navbar {
    padding: 0em 3em;
    align-items: center;
    font-size: 50%;
  }
  .ham {
    display: block;
  }

  .logo {
    width: 16em;
  }
}
