.i-am-pioneer-program {
    .res-btn-gap-y {
        margin-bottom: 150px;
    }
    .FC-image-wrapper {
        width: 100%;
    }
    .download-btn-gap-y {
        margin: 100px 0 100px 0;
        .download-icons {
            gap : 20px;
        }
    }
}
