* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

::selection {
  background-color: $theme-color;
  color: $clr-white;
}

p {
  line-height: 1.3;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: $clr-white;

  &:focus {
    outline: none;
  }
}
