html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $font-family-primary;
}

::selection {
  background-color: $theme-color;
  color: $clr-white;
}

// p {
//   line-height: 1.3;
// }

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: $clr-white;

  &:focus {
    outline: none;
  }
}

.layout {
  margin: 65px 0 0 0;
}

.layout-gap {
  padding: 80px 0 30px 0;
}

// theme titles styles

.theme-title-white {
  position: relative;
  color: $clr-white;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 4px;
    width: 40%;
    background-color: $clr-white;
  }
}

.theme-title-black {
  position: relative;
  color: $clr-dark;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 4px;
    width: 40%;
    background-color: $clr-dark;
  }
}

.theme-title-red {
  position: relative;
  color: $clr-dark;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 4px;
    width: 40%;
    background-color: $theme-color;
  }
}

.theme-title {
  width: fit-content;
  margin: 0 0 18px 0 !important;
  padding: 0 0 10px 0;
  position: relative;
  font-size: $f-x-lg;
}

.theme-title-max {
  &::after {
    width: 100%;
  }
}

.theme-head-x-lg {
  font-size: $f-x-lg;
}

.theme-head-lg {
  font-size: $f-lg;
}

.theme-head-md {
  font-size: $f-md;
}

// theme titles styles end
