html {
  font-size: 62.5%;
}

body{
  width: 100%;
  overflow-x: hidden;
  font-size: inherit !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $font-family-primary;
}

::selection {
  background-color: $theme-color;
  color: $clr-white;
}

// p {
//   line-height: 1.3;
// }

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: $clr-white;

  &:focus {
    outline: none;
  }
}

.layout {
  margin: 65px 0 0 0;
  overflow-x:hidden;
}

.layout-gap {
  padding: 80px 0 30px 0;
  position: relative;
}

// theme titles styles

.theme-title-white {
  position: relative;
  color: $clr-white;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 4px;
    width: 40%;
    background-color: $clr-white;
  }
}

.theme-title-black {
  position: relative;
  color: $clr-dark;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 4px;
    width: 40%;
    background-color: $clr-dark;
  }
}

.theme-title-red {
  position: relative;
  color: $clr-dark;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 4px;
    width: 40%;
    background-color: $theme-color;
  }
}

.theme-title {
  width: fit-content;
  margin: 0 0 18px 0 !important;
  padding: 0 0 10px 0;
  position: relative;
  font-size: $f-x-lg;
  font-weight: $weigth-medium;
}
.theme-title-max {
  &::after {
    width: 100%;
  }
}

.theme-title-max {
  &::after {
    width: 100%;
  }
}

.theme-head-x-lg {
  font-size: $f-x-lg;
}

.theme-head-lg {
  font-size: $f-lg;
}

.theme-head-md {
  font-size: $f-md;
}

// theme titles styles end

// handle global responsive

@media screen and (max-width: 767px) {
  .theme-title {
    font-size: $f-md;
  }

  .theme-head-x-lg {
    font-size: $f-md;
  }
  .theme-head-lg {
    font-size: $f-md;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .theme-title {
    font-size: $f-lg;
  }

  .theme-head-x-lg {
    font-size: $f-lg;
  }
  .theme-head-lg {
    font-size: $f-md;
  }
}
.w-fit-content {
  width: fit-content;
}

.ant-input:focus,
.ant-input-focused {
  border-color: #8c8c8c;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
  border-right-width: 1px !important;
  outline: 0;
}
