// theme  colors

$theme-color: #c6181f;
$theme-gradient: linear-gradient(180deg, #c6181f 0%, #650d10 100%);
$clr-dark: #000000;
$clr-white: #ffffff;

// theme fonts sizes

$f-x-lg: 40px;
$f-lg: 30px;
$f-md: 18px;
$f-sm: 14px;
$f-x-sm: 12px;

// fonts weights

$weigth-bold: 800;
$weigth-medium: 600;
$weight-subtitle: 500;

// transitions

$transition-light: 0.3s;
$transition-high: 0.5s;


// Font Faimily

$font-family-primary: 'Raleway', sans-serif;
