@media screen and (max-width: 991px) {
  .i-am-home {
    .h-group {
      background-size: cover;
    }
    .theme-title {
      margin: 10px;
      position: relative;
      font-size: $f-lg;
    }
    .delivery-details {
      img {
        margin: 0 0 20px 0;
      }
    }
    .hero-section {
      padding: 50px 0 0 0;
      .food-van {
        margin: 50px 0 0 0;
      }
    }
    .delivery-system {
      padding: 50px 10px;
      h1 {
        font-size: $f-lg;
      }
      .d-thumb {
        img {
          flex: unset;
          width: 100%;
          margin: 20px 0;
        }
      }

      .clr-white {
        color: $clr-white !important;
      }
    }
    .app-mok {
      h1 {
        font-size: $f-lg;
      }
    }
    .bottom-section {
      min-height: fit-content;
      padding: 0px 0;
      background-image: unset;
    }
  }
}

@media screen and (max-width: 1280px) {
  .i-am-home .h-group .hero-section {
    background-size: cover;
  }
}
